@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: 'Inter', sans-serif;
    color: black;
    background-color: white;
}

.dark {

    background-color: black;
    color: green;
   
}

#theme-btn {
    background: url(../img/lune.png);
}